doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    title Pug. Фильтр фильмов
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./css/style.min.css")
  body
    //- Подключение миксинов
    include mixin
    main.main
      section.films
        .page
            h1.films__title Лучшие фильмы за все время по категориям
            .films-tabs
                ul.films-tabs__list
                    each tab in tabs
                        li.films-tabs__item
                            button(data-filter=tab.dataCategory).films-tabs__link= tab.nameTab                         
            .films__inner
                ul.article
                    each film in films
                        li(class= film.dataCategory, class="article-item")
                            a.article-item__link(href=film.linkPageFilm)
                                //- Ссылка на изображение
                                img.article-item__img(src=film.linkPosterFilm, alt="film poster")
                                //- Заголовок фильма
                                h4.article-item__title=film.nameFilm
                                //- Описание фильма
                                .article-item__info
                                    //- Год фильма
                                    span.article-item__year= film.yearFilm
                                    //- Категория фильма
                                    span.article-item__category= film.categoryFilm
                                    //- Страна фильма
                                    span.article-item__country= film.countryFilm
    script(src="./js/main.js") 